<section>
  <h1>Create</h1>
  <div class="form">
    <form action="/cube/create/" method="post">
      {{#if error}}
      <div class="error-box">
        {{#each error}}
        <p><span class="error">{{this}}</span></p>
        {{/each}}
      </div>
      {{/if}}
      <label for="name">Name</label>
      <input type="text" {{#if error.fields.name}} class="field-error" {{/if}} id="name" name="name"
        value="{{body.name}}">
      <label for="name">Description</label>
      <textarea id="name" {{#if error.fields.description}} class="field-error" {{/if}}
        name="description">{{body.description}}</textarea>
      <label for="image">ImageUrl</label>
      <input type="text" {{#if error.fields.imageUrl}} class="field-error" {{/if}} id="image" name="imageUrl"
        value="{{body.imageUrl}}">
      <label for="difficulty">Difficulty</label>
      <select id="difficulty" name="difficultyLevel">
        <option value="1">1 - Very Easy</option>
        <option value="2">2 - Easy</option>
        <option value="3">3 - Medium (Standard 3x3)</option>
        <option value="4">4 - Intermediate</option>
        <option value="5">5 - Expert</option>
        <option value="6">6 - Hardcore</option>
      </select>
      <input type="submit" value="Create">
    </form>
  </div>
</section>