<section>
    <h1>Browser</h1>
    <form method="get">
        <input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{fromDifficulty}}">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{toDifficulty}}">
        <input type="submit" value="search">
    </form>

    {{#if cubicles}}

    {{#each cubicles}}
    {{> cubicleCard}}
    {{/each}}

    {{else}}

    <div class="not-found">
        <p>No cubies were found</p>
    </div>

    {{/if}}
</section>